html {
    height: 100%;
}

body {
    font-family: "Avenir Next", "Avenir", sans-serif;
    height: 100%;
    overflow: hidden;
}

#menuToggle {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 50px;
    margin-left: 50px;

    z-index: 11;
    user-select: none;
}

#menuToggle input {
    display: none;
}

#menuToggle #menu {
    border-radius: 5px;
    position: absolute;
    width: 200px;
    padding: 65px 50px 50px 50px;
    list-style-type: none;
    background: #ededed;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
}

#menuToggle #menu li {
    margin: 10px 0;
    padding: 10px 0;
    font-size: 22px;
    text-transform: capitalize;
}

@media (min-width: 500px) {
    #menuToggle #menu {
        margin: 0 0 0 -50px;
        opacity: 0.5;
    }

    #menuToggle #menu li {
        color: #232323;
        transition: color 0.3s ease;
        cursor: pointer;
    }

    #menuToggle #menu li:hover {
        color: tomato;
    }

}

@media (max-width: 500px) {

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -5px;
        left: -70px;
        opacity: 0;
        z-index: 12;
        -webkit-touch-callout: none;
    }


    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-left: -40px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 11;

        transform-origin: 4px 0;

        transition: transform 0.3s linear,
        background 0.3s linear,
        opacity 0.3s linear,
        margin-left 0.3s linear;
    }


    #menuToggle span:nth-last-child(2) {
        transform-origin: 0 100%;
    }


    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }


    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }


    #menuToggle #menu {
        margin: -50px 0 0 -50px;
        transform: translate(-100%, 0);
        transition: transform 0.3s linear;
    }

    #menuToggle input:checked {
        left: 100px
    }

    #menuToggle input:checked ~ span {
        margin-left: 100px;

    }

    #menuToggle input:checked ~ #menu {
        transform: none;
    }
}
